@charset "UTF-8";
/* === GLOBAL STYLES === */
body {
  font-family: "Raleway", sans-serif; }

h1 {
  font-family: "Open Sans", sans-serif;
  font-size: 4.5rem;
  line-height: 5rem;
  text-transform: uppercase;
  color: #FFFFFF; }
  @media (min-width: 768px) {
    h1 {
      font-size: 6.5rem;
      line-height: 7.1rem; } }

h3 {
  font-size: 1.4rem;
  font-weight: 700;
  text-transform: uppercase;
  color: #2D3033; }

p {
  font-size: 1.4rem;
  line-height: 2.1rem;
  color: #6C7279; }

button, header .header-btn, .download-btn {
  color: #FFFFFF;
  background-color: #E84545;
  font-size: 1.3rem;
  font-weight: 600;
  line-height: 2.1rem;
  text-transform: uppercase;
  border: 2px solid transparent;
  border-radius: 2px;
  outline: none;
  -webkit-transition: all .3s;
  -o-transition: all .3s;
  transition: all .3s; }
  button:focus, header .header-btn:focus, .download-btn:focus {
    outline: none; }
  button:hover, header .header-btn:hover, .download-btn:hover {
    border: 2px solid #E84545;
    font-weight: 700;
    color: #E84545;
    background-color: transparent; }

.clearfix:before, .clearfix:after {
  content: '';
  display: table;
  clear: both; }

.work-1 {
  background-image: url("../img/work-1.jpg"); }

.work-2 {
  background-image: url("../img/work-2.jpg"); }

.work-3 {
  background-image: url("../img/work-3.jpg"); }

.work-4 {
  background-image: url("../img/work-4.jpg"); }

.work-5 {
  background-image: url("../img/work-5.jpg"); }

.work-6 {
  background-image: url("../img/work-6.jpg"); }

.work-7 {
  background-image: url("../img/work-7.jpg"); }

.work-8 {
  background-image: url("../img/work-8.jpg"); }

.social-media-icons {
  padding: 0;
  margin: 0;
  list-style: none; }
  .social-media-icons li {
    display: inline-block; }
  .social-media-icons a {
    display: block;
    width: 40px;
    height: 40px;
    border: 1px solid #E8ECEE;
    color: #C6CACC;
    font-size: 1.8rem;
    line-height: 4rem;
    text-decoration: none;
    text-align: center;
    -webkit-transition: all .3s;
    -o-transition: all .3s;
    transition: all .3s; }
    .social-media-icons a:hover {
      color: #FFFFFF;
      background-color: #E84545;
      border-color: #E84545; }

/* === HEADER SECTION STYLES === */
header {
  background-image: url("../img/header-bg-img.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover; }
  header .page-nav {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    min-height: 100px;
    border-bottom: 1px solid #505168;
    position: relative; }
    @media (min-width: 992px) {
      header .page-nav {
        justify-content: space-between;
        flex-direction: row; } }
  header .page-logo {
    padding-top: 0; }
    @media (min-width: 768px) {
      header .page-logo {
        padding-top: 38px;
        padding-bottom: 10px; } }
    @media (min-width: 992px) {
      header .page-logo {
        padding: 0; } }
  header .page-menu {
    padding: 0;
    margin: 0;
    list-style: none;
    display: flex;
    align-items: center;
    flex-direction: column; }
    @media (min-width: 768px) {
      header .page-menu {
        flex-direction: row; } }
    @media (min-width: 768px) {
      header .page-menu li + li {
        margin-left: 45px; } }
    header .page-menu a {
      display: block;
      padding: 35px 5px;
      font-size: 1.3rem;
      font-weight: 700;
      text-decoration: none;
      text-transform: uppercase;
      text-align: center;
      color: #FFFFFF;
      -webkit-transition: all .3s;
      -o-transition: all .3s;
      transition: all .3s; }
      header .page-menu a:hover {
        color: #E84545; }
  header #navigation {
    display: none; }
    @media (max-width: 767px) {
      header #navigation:not(:checked) ~ .page-menu {
        display: none; }
      header #navigation:checked ~ .page-menu {
        display: block; }
      header #navigation:checked ~ .page-logo {
        padding-top: 38px;
        padding-bottom: 10px; } }
    header #navigation + label {
      display: none; }
      @media (max-width: 767px) {
        header #navigation + label {
          color: #FFFFFF;
          display: block;
          cursor: pointer;
          position: absolute;
          right: 30px;
          top: 36px; } }
  header .header-content {
    max-width: 100%;
    padding: 120px 0;
    margin: 0 auto; }
    @media (min-width: 768px) {
      header .header-content {
        max-width: 83%; } }
    header .header-content h1 {
      margin: 0; }
  header .header-paragraph {
    margin: 43px 0 82px;
    font-size: 2.2rem;
    line-height: 3.3rem;
    color: #FFFFFF; }
  header .header-btn {
    width: 200px;
    height: 46px; }

/* === FEATURES SECTION STYLES === */
.features {
  padding: 100px 0 20px; }
  .features h3 {
    margin: 34px 0 26px; }
  .features p {
    max-width: 90%;
    margin: 0 auto 80px; }
  .features [class*="icon-"] {
    font-size: 6rem;
    color: #E84545; }

/* === WORKS SECTION STYLES === */
.works .container-fluid {
  padding: 0; }

.works .row {
  margin: 0; }

.works [class*="col-"] {
  padding: 0; }

.works .work-item {
  background-repeat: no-repeat;
  background-position: center;
  background-size: 100% 100%;
  padding-top: 72.9166666667%;
  border-bottom: 1px solid #FFFFFF;
  overflow: hidden;
  position: relative;
  cursor: pointer;
  -webkit-transition: all .3s;
  -o-transition: all .3s;
  transition: all .3s; }
  .works .work-item:hover {
    background-size: 150% 150%; }
    .works .work-item:hover .work-layer {
      opacity: 1; }
    .works .work-item:hover .work-name, .works .work-item:hover .work-description {
      transform: none; }
  @media (min-width: 768px) {
    .works .work-item {
      border-right: 1px solid #FFFFFF;
      border-bottom: 1px solid #FFFFFF; } }

.works .work-layer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  color: #FFFFFF;
  background-color: rgba(232, 69, 69, 0.9);
  opacity: 0;
  -webkit-transition: all .3s;
  -o-transition: all .3s;
  transition: all .3s; }

.works .work-name {
  font-weight: 700;
  text-transform: uppercase;
  transform: translateX(-100px);
  -webkit-transition: all .3s;
  -o-transition: all .3s;
  transition: all .3s; }

.works .work-description {
  text-transform: capitalize;
  transform: translateX(100px);
  -webkit-transition: all .3s;
  -o-transition: all .3s;
  transition: all .3s; }

/* === TEAM SECTION STYLES === */
.team {
  padding: 100px 0 60px; }
  .team span {
    display: block; }
  .team-item {
    text-align: center;
    margin-bottom: 40px; }
    @media (min-width: 768px) {
      .team-item {
        text-align: left; } }
  .team-member-picture {
    margin: 0 auto; }
    @media (min-width: 768px) {
      .team-member-picture {
        margin: 0; } }
  .team-member-name {
    margin-top: 30px;
    font-size: 2.2rem;
    color: #2D3033; }
  .team-member-role {
    margin: 5px 0 30px;
    font-size: 1.3rem;
    color: #E84545;
    text-transform: uppercase; }
  .team p {
    margin-bottom: 30px; }

/* === TESTIMONIALS SECTION STYLES === */
.testimonials .container-fluid {
  padding: 0; }

.testimonials .row {
  margin: 0; }

.testimonials [class*="col-"] {
  padding: 0; }

.testimonials .img-responsive {
  width: 100%; }

.testimonials .carousel {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  color: #FFFFFF;
  background-color: #53354A; }
  .testimonials .carousel-container {
    padding-top: 52.6315789474%;
    position: relative;
    overflow: hidden; }
  .testimonials .carousel-indicators li {
    background-color: #755D6E;
    border-color: #755D6E; }
  .testimonials .carousel-indicators .active {
    background-color: #FFFFFF;
    border-color: #FFFFFF; }
  .testimonials .carousel blockquote {
    padding: 5%;
    border: 0;
    margin: 0; }
    @media (min-width: 480px) {
      .testimonials .carousel blockquote {
        padding: 5%; } }
    @media (min-width: 768px) {
      .testimonials .carousel blockquote {
        padding: 15% 5%; } }
    @media (min-width: 992px) {
      .testimonials .carousel blockquote {
        padding: 10%; } }
    @media (min-width: 1200px) {
      .testimonials .carousel blockquote {
        padding: 5%; } }
    @media (min-width: 1400px) {
      .testimonials .carousel blockquote {
        padding-top: 10%;
        padding-left: 10%; } }
    .testimonials .carousel blockquote p {
      margin-bottom: 10px;
      font-family: "Cardo", serif;
      font-size: 2.4rem;
      line-height: 2.9rem;
      color: inherit;
      quotes: '“' '”' '‘' '’'; }
      @media (min-width: 480px) {
        .testimonials .carousel blockquote p {
          margin-bottom: 20px; } }
      @media (min-width: 768px) {
        .testimonials .carousel blockquote p {
          width: 70%;
          margin-bottom: 30px;
          font-size: 3.2rem;
          line-height: 3.8rem; } }
      @media (min-width: 992px) {
        .testimonials .carousel blockquote p {
          width: 100%;
          font-size: 2.4rem;
          line-height: 2.9rem; } }
      @media (min-width: 1200px) {
        .testimonials .carousel blockquote p {
          font-size: 3.6rem;
          line-height: 4.2rem; } }
      @media (min-width: 1400px) {
        .testimonials .carousel blockquote p {
          width: 70%; } }
      .testimonials .carousel blockquote p:before {
        content: open-quote; }
      .testimonials .carousel blockquote p:after {
        content: close-quote; }
    .testimonials .carousel blockquote span {
      font-size: 1.3rem;
      font-weight: 700;
      line-height: 2.1rem;
      text-transform: uppercase; }

/* === DOWNLOAD SECTION STYLES === */
.download {
  color: #2D3033;
  padding: 100px 0; }
  .download-paragraph-large {
    margin-bottom: 20px;
    font-size: 2.8rem;
    font-weight: 300;
    text-transform: capitalize;
    color: inherit; }
  .download-paragraph-small {
    font-size: 1.3rem;
    font-weight: 700;
    line-height: 2.1rem;
    text-transform: uppercase;
    color: inherit; }
  .download-btn {
    width: 80%;
    height: 46px;
    margin-top: 30px; }
    @media (min-width: 768px) {
      .download-btn {
        width: 280px; } }

/* === FOOTER STYLES === */
footer {
  padding-top: 70px;
  background-color: #3A3E64;
  color: #FFFFFF; }
  footer .social-media-icons a {
    color: inherit;
    border-width: 2px;
    border-radius: 2px; }
  footer .footer-heading {
    margin-bottom: 20px;
    color: inherit; }
  footer .footer-address, footer .footer-paragraph {
    color: #9D9FB2; }
  footer .footer-copyright {
    padding: 30px 0 20px;
    margin-top: 60px;
    background-color: #313454; }
    footer .footer-copyright-paragraph {
      color: #808080; }
      footer .footer-copyright-paragraph i.fa {
        color: #E84545; }
    footer .footer-copyright-link {
      color: #FFFFFF;
      text-decoration: none; }
      footer .footer-copyright-link:hover {
        text-decoration: underline; }

/*# sourceMappingURL=style.css.map */